*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}

.container {
    width: 975px;
    padding: 0 20px;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    padding: 0 20px;
    height: 60px;
    /* border-bottom: 1px solid #333; */
    background-color: #fff;
    z-index: 10;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.header__logo {
    width: 123px;
    height: 29px;
}

.header__btn-box {
    display: flex;
    align-items: center;
}

.header__btn {
    border: none;
    background-color: transparent;
    outline: none;
    margin-right: 16px;
}

.header__btn .bx {
    font-size: 30px;
}

.header__avatarme {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

/* header input */

.header__form {

}
.header__input-box {
    background-color: #efefef;
    padding: 4px 16px;
    border-radius: 7px;
    display: flex;
    align-items: center;
}

.bx-search {
}
.header__input {
    padding: 2px 5px;
    border: none;
    background-color: transparent;
    outline: none;

}





/* posts >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.posts {
    padding-top: 40px;
}

.saved {
    padding-top: 40px;
}

.saved__list {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.posts__list {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.posts__item {
    position: relative;
    width: 293px;
    height: 293px;
    margin-bottom: 28px;
}

.posts__img {
    width: 100%;
    height: 293px;
    object-fit: cover;
}

.posts__vedio {
    width: 293px;
    height: 293px;
    object-fit: cover;
}

.posts__img-box {
    width: 293px;
    height: 293px;
    cursor: pointer;
}

.posts__img-box:hover .colors {
    background-color: rgba(0, 0, 0, 0.568);
}

.posts__img-box:hover .btn__style {
    opacity: 1;
}

.colors {
    width: 293px;
    height: 293px;
    position: absolute;
    top: 0;
    /* z-index: 1; */
    transition: all 0.2s ease;
}

.btn__style {
    opacity: 0;
    display: flex;
    position: absolute;
    top: 45%;
    left: 30%;
}

.btn__heart {
    border: none;
    background-color: transparent;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.btn__comment {
    border: none;
    background-color: transparent;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heart-face {
    font-size: 30px;
    color: #fff;
}

.comment-face {
    font-size: 30px;
    color: #fff;
}

.face-result {
    display: block;
    font-size: 18px;
    color: #fff;
    margin-left: 10px;
}

.btn__modal {
    width: 100%;
    height: 100%;
    background-color: transparent;
    /* z-index: 1000; */
    border: none;
    outline: none;
}

.video-play {
    position: absolute;
    top: 10px;
    right: 0;
}

.video-bx {
    font-size: 30px;
    color: #fff;
}

.imgs-copy {
    font-size: 25px;
    color: #fff;
}


/* modal */

.media__box {
    display: flex;
    align-items: center;
    /* overflow-y: hidden; */
    /* overflow-x: scroll; */
}

/* .posts__modal-btn{
    width: 293px;
    height: 293px;
    border: none;
    background-color: transparent;
    outline: none;
    position: relative;
} */

.modal-body {
    padding: 0;
}

.modal__video {
    width: 580px;
    height: 390px;
}

.media__box {
    background-color: #111111;
    padding: 15px 0;
}

.modal__desc-box {
    padding: 20px;
    /* overflow-y: scroll; */
}

.modal__header {
    background-color: #fff;
}

.modal__avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

a {
    text-decoration: none;
}

.najottalim-link {
    color: rgba(var(--f75,38,38,38),1);
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    line-height: 18px;
}

.modal__dots {
    width: 5px;
    height: 5px;
    margin-left: 4px;
    margin-right: 4px;
    background-color: #262626;

}

.modal__main {
    padding: 16px;
    overflow-y: scroll;
}

.modal__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 30px 0;
    border-top: 1px solid #333;
}

.modal__message {
    border: none;
    background-color: transparent;
    outline: none;
}
.modal__message .bx {
    font-size: 30px;
}

.modal__bookmark {
    border: none;
    background-color: transparent;
    outline: none;
}
.modal__bookmark .bx {
    font-size: 30px;
}


.modal__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-input {
    flex-grow: 1;
    border: none;
    outline: none;
    margin-left: 10px;
}

.modal__smile {
    border: none;
    background-color: transparent;
    outline: none;
}

.modal__smile .bx {
    font-size: 26px;
}

.modal__post {
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(2, 235, 235);
    font-weight: 600;
    opacity: 0.3;
    transition: all 0.3s ease;
}

.modal__post:hover {
    opacity: 1;
}

.imgs__menidabox {
    display: flex;
    /* overflow-x: scroll; */
}

.category {
    padding-top: 100px;
    display: flex!important;
    align-items: center;
    justify-content: center;
    
}
.posts-tab {
    display: flex;
    margin-right: 50px;

}
.posts-btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;

}

.posts-btn span {
   text-transform: uppercase;
}

.saved-btn span {
    text-transform: uppercase;
 }

.saved-btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
}

/* scrool style */


  /* width */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: gray-color;
    border-radius: 10px;
  }


  /* <<<<<<<<<<<<      MAIN       >>>>>>>>>>>>>>> */

.main {
    padding-top: 100px;
}


.main-img-box {
    display: flex;
    justify-content: center;
}

.main-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 165px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ccc;
}

.main-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.desc-name {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.name-nj {
    display: inline;
    color: rgba(var(--i1d,38,38,38),1);
    white-space: nowrap;
    margin-right: 30px;

}
.ms-btn {
    padding: 5px 9px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    background-color: transparent;
    text-align: center;
    margin-right: 10px;

}
.user-check {
    padding: 3px 24px 0 24px;
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    margin-right: 10px;
    border: 1px solid  rgba(var(--b6a,219,219,219),1);
}
.bxs-user-check {
    font-size: 23px;
}
.arrow {
    padding: 2px 11px 0 11px;
    background-color: transparent;
    border-radius: 4px;
    outline: none;
    margin-right: 10px;
    border: 1px solid  rgba(var(--b6a,219,219,219),1);
}

.bx-chevron-down {
    font-size: 24px;
}
.dots-btn {
    background-color: transparent;
    border: none;
    width: 32px;
    height: 32px;

}
.bx-dots-horizontal-rounded {
    font-size: 30px;
}

.followers {
    margin-bottom: 20px;
}
.follow-posts {
    display: inline;
    text-decoration: none;
    font-weight: 400px;
    font-size: 16px;
    color: rgba(var(--i1d,38,38,38),1);
    margin-right: 10px;
    line-height: 24px;
}
.numb {
    color: rgba(var(--i1d,38,38,38),1);
    font-weight: 600;
    font-size: 19px;
}

.site-name {
    display: inline!important;
    margin: 0!important;
    color: rgba(var(--i1d,38,38,38),1);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.site-text {
    font-size: 16px;
    line-height: 24px;
    color: #8e8e8e;
    margin-bottom: 8px;
}

.site-texts {
    color: rgba(var(--i1d,38,38,38),1);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
}

.followed-link {
    display: block;
    color: rgba(var(--fe0,0,55,107),1); 
    font-weight: 600;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
}

.follow-link {
    font-size: 12px;
    color: #8e8e8e;
}


/* >>>>>>>>>>>>>>>>>>>  carousel  <<<<<<<<<<<<<<<<<<<<< */

.carousel {
    overflow-y: hidden;
    overflow-x: scroll;
    padding-top: 40px;
}
.caraousel__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
}
.carousel__item {
    margin: 0 30px;
}

.cavans {
    border: 3px solid #ccc;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.cr-img {
    width: 77px;
    height: 77px;
    border-radius: 50%;

}
.cr-text {
    padding-top: 15px;
    font-size: 14px;
    color: rgba(var(--i1d,38,38,38),1);
    font-weight: 600;
}